extends layout

block content
  script(type='text/javascript').
    function game_info_confirm(){
      $.confirm({
        title: '#{game_info.game_name}',
        backgroundDismiss: true,
        content: "#{game_info.description}",
        confirmButtonClass: 'btn-info',
        cancelButton: false
      });
    }

  form#slick-form.create_room(method='POST', action='')
    a(href="#", onclick="game_info_confirm();", class="thumbnail")
      img(src="/images/games/#{game_info.game_name}.jpg", alt="#{game_info.game_name}")

    div.dropdown
      a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false")
        | 방 정보
        span.caret
      ul.dropdown-menu(role="menu")
        li.dropdown-header 방 제목
        li.slick-form-li #{room_info.room_name}
        li.dropdown-header 최대인원
        li.slick-form-li #{room_info.max_player}명
        li.divider
        li.dropdown-header 기본시간
        li.slick-form-li #{room_info.main_time}분
        li.dropdown-header 초읽기
        li.slick-form-li #{room_info.byoyomi}초
        li.dropdown-header 초읽기 횟수
        li.slick-form-li #{room_info.num_byoyomi}회

    button#input-submit.slick-form-blue-btn 준비
    ul.list-group.slick-form-ul
      - for (var i in user_list)
        li.list-group-item #{user_list[i].username}
